@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==== scrollbar  =====*/
*::-webkit-scrollbar {
  display: none;
}

:root {
  --bg1: #ffffff;
  --bg2: #f5f6fb;
  --bg3: rgb(79 70 229);
  --bg4: #dddddd;
  --bg5: rgb(164, 160, 238);
  --t1: rgb(25, 25, 25);
  --t2: white;
  --t3: rgb(121, 116, 229);
  --t4: rgb(145, 145, 145);
  --border: rgb(209 213 219);
  --border2: rgb(17 24 39 / 0.1);
  --blurshadow: rgb(255 255 255 / 0.2);
  --shadow: rgba(0, 0, 0, 0.25);
  --shadow2: rgba(145, 145, 145, 0.25);
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: #a7a6a7; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.div-with-gradient-border {
  position: relative;
  background-color: transparent; /* Transparent background */
  border-radius: 50px; /* This creates the rounded corners */
  border: solid 3px transparent; /* Transparent border */
  padding: 20px; /* Adjust the padding as needed */
  width: 300px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px; /* Adjust the margin as needed */
  overflow: hidden; /* Ensures the pseudo-element does not overflow */
}

.div-with-gradient-border::after {
  content: "";
  position: absolute;
  bottom: -3px; /* Align with the border width */
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 47px; /* Slightly smaller than div's border-radius to fit inside */
  border: solid 3px white; /* White border */
  background: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    white 50%,
    white
  );
  z-index: -1;
}
